*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


nav {
  overflow: hidden;
  background-color: #db4f37;
  position: fixed;
  bottom: 0;
  width: 100%;
  }

  @media screen and (min-width: 700px) {
    nav {
      background-color: #db4f37;
      /* position: unset; */
      width: 654px;
      top: 2vh;
      bottom: unset;
      margin: 0px 24px;
      }
  }
  
  nav a {
    font-family: 'Montserrat', monospace, serif;
    cursor: pointer;
    width: 50%;
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 0px;
    font-size: 0.8em;
  }
  nav div {
    width: 100%;
    margin: auto;
  }
  
  nav a:first-child{
    border-right: 1px solid white;
  }
  
  nav a:hover {
    background-color: #c5452f;
  }