/* ... styles ... */
body {
    margin: 0px; 
    background: url("background.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
  }

/*NAVBAR*/
#navbar {
    margin-top: 0px;
}

.navbar-list-item {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    padding: 1vw;
    font-weight: 100;
}

.nav-container {
    width: 100vw;
    overflow: hidden;
}

.navbar-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    font-family: 'Roboto', monospace, serif;
    font-size: 28px;
    float: right;
    margin-top: 28px;
  }
#logo {
    font-family: 'Montserrat', monospace, serif;
    float: left;
    color: white;
    font-size: 28px;
    margin-left: 1vw;
  }
  
/* MAIN SECTION */


  h1 {
    font-family: 'Montserrat', monospace, serif;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    color: white;
  }

  #input-section {
    text-align: center;
  }